/* Cabecera */
header {
  position: fixed;
  z-index: 6;
  padding-top: 0.5rem;
  width: 100%;
  margin-top: -30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 500ms;
}

#header {
  height: auto;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 42% 58%;
  justify-items: center;
  align-items: center;
  grid-gap: 0px;
}

/* icono de menu */
#icon-menu {
  display: none;
  margin-left: 10%;
  padding: 5px;
  font-family: "WebSymbolsregular";
}

/* Logo */
#logo {
  height: 3rem;
  width: calc(3rem * 3.2);
  text-align: center;
}

/* Menu */
#menu {
  display: flex;
  width: 100%;
}
#menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}
#menu ul li .button {
  font-size: 1rem;
  min-width: 7.5rem;
  text-align: center;
  font-family: Kaushan;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 900;
  line-height: 2.5rem;
  font-style: normal;
}
